{% extends 'blog/base.html' %}

{% block navbar %}
<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:blog_home' %}"><strong class="text-primary">Post</strong> <span class="text-dark">Anything</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                {% if user.username|length == 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#teachers">Teachers</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                {% if user.username|length > 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:topic_detail' user.profile.topics_read.all|length user.id %}">Current Topic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update_user' %}">Update Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% endif %}
                <li class="nav-item ml-md-4">
                    <a class="nav-link btn btn-primary" href="{% url 'login' %}">Post Anything</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Page Navbar -->   
{% endblock navbar %}
