{% extends "blog/base.html" %}

{% block main %}
    <!-- Page Header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <img src="{{user.profile.profile_pic.url}}" alt="{{user.username}}">
            <h6>My Topics</h6> 
            <a class="btn btn-outline-light" href="{% url 'blog:topic_detail' user.profile.topics_read.count user.id %}">Start Posting</a> 
        </div>      
    </header><!-- End of Page Header -->

{% for topic in topics %}
    <section id="about">
        <div class="container">
            <div class="about-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'blog:topic_detail' topic.pk user.id %}"><h5 class="title mb-3">{{topic.content}}</h5></a>
                        </div>
                    </div>
                </div>
            </div><!-- End of About Wrapper -->         
        </div>  <!-- End of Container-->        
    </section><!--End of Section -->
{% endfor %}
{% endblock main %}

{% block about %}{% endblock %}
{% block about_two %}{% endblock %}
{% block video %}{% endblock %}
{% block english_teachers %}{% endblock %}
{% block study_with_us %}{% endblock %}
