{% extends "blog/base.html" %}

{% block title %}Login{% endblock title %}

{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content" id="login">
        <h2><strong class="text-primary">Sign</strong> <span class="text-dark">In</span></h2>
        <form method="post" class="form-horizontal" name="LoginForm">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{next}}" />
            {% endif %}
            <label for="username">
                <span>Username</span>
                <input type="text" id="username" name="username" placeholder="Your Username" />
            </label>
            <p></p>
            <label for="password">
                <span>Password</span>
                <input type="password" id="password" name="password" placeholder="Your Password" />
            </label>
            <p></p>
            <button type="submit" class="btn btn-outline-light">Log in</button>
        </form>
        <p></p>
        <p>Did you forget your password? <a href="{% url 'password_reset' %}">Reset your password</a>.</p>
    </div>      
</header><!-- End of Page Header -->
{% endblock main %}
