{% extends "blog/base.html" %}

{% block title %}Password Reset Confirmation{% endblock %}

{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <div class="alert alert-info">
            An email has been sent with instructions to reset your password.
        </div>
        <p>Best place to improve your writing.</p>
        <h6>Post Anything</h6>
    </div>      
</header><!-- End of Page Header -->
{% endblock main %}


