{% extends "blog/base.html" %}

{% block title %}Password Reset{% endblock title %}

{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <p>Best place to improve your writing.</p>
        <h6>Post Anything</h6> 
    </div>      
</header><!-- End of Page Header -->
{% endblock main %}

{% load crispy_forms_tags %}

{% block extra %}
<section id="extra">
    <div class="container">
        <div class="about-wrapper">
            <label><h4>Sign Up</h4></label>
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Your Account's Password</legend>
                        {{form|crispy}}
                        <p></p>
                </fieldset>
                <div class="form-group" >
                    <button type="submit" class="btn btn-secondary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock extra %}


{% block about %}{% endblock %}
{% block about_two %}{% endblock %}
{% block video %}{% endblock %}
{% block english_teachers %}{% endblock %}
{% block study_with_us %}{% endblock %}
