{% extends "blog/base.html" %}

{% block title %}Password Reset Complete{% endblock title %}


{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <div class="alert alert-info">
            Your password has been reset
        </div>
        <p>Best place to improve your writing.</p>
        <h6>Post Anything</h6>
        <a class="btn btn-outline-light" href="{% url 'login' %}">Start Posting</a>
    </div>      
</header><!-- End of Page Header -->
{% endblock main %}
