{% extends "blog/base.html" %}

{% block title %}Register{% endblock title %}

{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <p>Best place to improve your writing.</p>
        <h6>Post Anything</h6> 
        <button class="btn btn-outline-light">Start Posting</button>
    </div>      
</header><!-- End of Page Header -->
{% endblock main %}

{% load crispy_forms_tags %}

{% block extra %}
<section id="extra">
    <div class="container">
        <div class="about-wrapper">
            <label><h4>Sign Up</h4></label>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <p></p>
                <button type="submit" class="btn btn-secondary">Sign In</button>
                <p></p>
                <p>Already have an account?. <a href="{% url 'login' %}">Sign In</a>.</p>
            </form>
        </div>
    </div>
</section>
{% endblock extra %}

