{% extends "blog/base.html" %}

{% block title %}Update Profile{% endblock title %}
    
{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
        <div class="header-content">
            <div class="content">
            <figure>
                <img src="{{user.profile.profile_pic.url}}" alt="{{user.username}}">
            </figure>
            <h6>{{user.username}}</h6>
            {% if user.profile.about_me != None %}
                <p>{{user.profile.about_me}}</p>
            {% endif %}
            <p>Topics Read: {{user.profile.topics_read.count}}</p>
        </div>
    </div>      
</header><!-- End of Page Header -->
{% endblock main %}

{% load crispy_forms_tags %}

{% block about %}
<section>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form|crispy}}
            {{profile_form|crispy}}
            <button type="submit" class="btn btn-secondary">Update</button>
        </form>
    </div>
</section>
{% endblock about %}

{% block about_two %}{% endblock %}
{% block video %}{% endblock %}
{% block english_teachers %}{% endblock %}
{% block study_with_us %}{% endblock study_with_us %}