{% extends "blog/base.html" %}

{% block title %}Update Profile{% endblock title %}

{% block navbar %}
<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog_home' %}"><strong class="text-primary">Post</strong> <span class="text-dark">Anything</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'topic_detail' user.profile.topics_read.all|length user.id %}">Current Topic</a>
                </li>
                {% if user.username|length > 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_profile' user.pk %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update_user' %}">Update Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% endif %}
                <li class="nav-item ml-md-4">
                    <a class="nav-link btn btn-primary" href="{% url 'login' %}">Post Anything</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Page Navbar -->   
{% endblock navbar %}
    
{% block main %}
<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="media">
        <img src="{{user.profile.profile_pic.url}}" alt="Profile pic" class="rounded-circle account-img">
        <div class="media-body">
            <p></p>
            <h6>{{user.username}}</h6>  
        </div>
    </div>
</header><!-- End of Page Header -->
{% endblock main %}

{% load crispy_forms_tags %}

{% block about %}
<section>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form|crispy}}
            {{profile_form|crispy}}
            <button type="submit" class="btn btn-secondary">Update</button>
        </form>
    </div>
</section>
{% endblock about %}

{% block about_two %}{% endblock %}
{% block video %}{% endblock %}
{% block english_teachers %}{% endblock %}
{% block study_with_us %}{% endblock study_with_us %}